<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

  <div class="container">
    Danh sach ss
    <%
    if(notes.length > 0) {
        for(i=0 ; i< notes.length; i++) {
         var aa = keys[i];
            %>
    <p>
      <%= i %>:
      <a href="/noteview?key=<%=aa%>">
        <%= notes[i].title %></a>
    </p>
    <%
        }
    }
%>

  </div>

</body>

</html>